{% extends "main.html" %}
{% load tags %}
{% load static %}


{% block script %}
<script>
    $(document).ready(function(){
    $('#tabela').DataTable();
    });
</script>
{% endblock script %}


{% block main_content %}

<div style="width:98%; color:white; margin:5% auto;">
    <table id="tabela" class="table table-sm table-hover table-bordered device_table">
        <thead>
            <tr style="color:yellow;">
            <th scope="col">Data</th>
            <th scope="col">Dostawca</th>
            <th scope="col">Nr faktury</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Typ</th>
            <th scope="col">Model/nazwa</th>
            <th scope="col">nr seryjny</th>
            <th scope="col">Do wykorzystania?</th>
            <th scope="col">Ilośc szt/m</th>
            <th scope="col">Wykorzystano</th>
            <th scope="col">Okres gwarancji</th>
            <th scope="col">Notatka</th>
            <th scope="col">Magazyn</th>
            <th scope="col">Wprawdził <br> zmodyfikował</th>
            <th scope="col">Zmień</th>
            <th scope="col">Historia</th>
            </tr>
        </thead>
        <tbody>
            {% for device in device_list %}
            <tr>
                <td>{{device.date|date:"d-m-Y"}}</td>
                <td>{{device.provider}}</td>
                <td>{{device.facture}}</td>
                <td>{{device.category_id}}</td>
                <td>{{device.device_type_id}}</td>
                <td>{{device.name}}</td>
                <td>{{device.serial_number}}</td>
                {% if  device.to_used == "Tak" %}<td style="color:yellow;"> {% else %}<td>{% endif %}{{device.to_used}}</td>
                <td>{{device.quantity}}</td>
                <td style="color: {{device.used_resource|check_percent:device.quantity}};">{{device.used_resource}} </td>
                <td style="color: {{device.guarantee|check_guarantee:device.date}};">{{device.guarantee}} miesiące <br>
                    <span style="font-size:12px;">Do: {{device.guarantee_end_date|date:"d-m-Y"}}</span> 
                </td>
                <td>{{device.note}}</td>
                <td>{{device.storage_id}}</td>
                <td>{{device.user}}</td>
                <td><a href="/storage/device_edit/{{device.id}}" style="color:yellow;">edytuj</a></td>
                <td><a href="/storage/history/device-{{device.id}}/" role="button" style="color:yellow;">Sprawdź</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
{% endblock main_content %}