{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
    $("#category_name").change(function(){
        $("#device_type_name").empty();
        $("#name").empty();
        var category_name = $("#category_name").val();
        $.ajax({
                url: "/storage/device_add",
                type: "POST",
                data: {category_name:category_name},
                headers: {'X-CSRFTOKEN': "{{ csrf_token }}",},
                success: function(json) {
                    var device_type_list=json["device_type_list"]
                    $('<option>').val("Wszystkie").text("Wszystkie").appendTo('#device_type_name');
                    for(key in device_type_list){
                        $('<option>').val(key).text(key).appendTo('#device_type_name');}

                    $('<option>').val("Wszystkie").text("Wszystkie").appendTo('#name');

                }
            })
    });

     $("#device_type_name").change(function(){
        $("#name").empty();
        var device_type_name = $("#device_type_name").val();
        var category_name = $("#category_name").val();
        $.ajax({
                url: "/storage/device_add",
                type: "POST",
                data: {device_type_name:device_type_name, category_name:category_name},
                headers: {'X-CSRFTOKEN': "{{ csrf_token }}",},
                success: function(response) {
                    $('<option>').val("Wszystkie").text("Wszystkie").appendTo('#name');
                    for (item in response) {
                        $('<option>').val(response[item]).text(response[item]).appendTo('#name');} 
                }
            })
    });
});
</script>

<script>
    $(document).ready(function(){
    $('#tabela').DataTable();
        });
</script>

{% endblock script %}



{% block main_content %}
<div class="content_show2">
    <form  action="/raports/individual_raport" method="POST" style="color: #3743e6; margin-top:0px;">
        {% csrf_token %}
        <div class="md-form text-center"> 
            <!-- Magazyn -->
            <div class="block" style="width:17%;"> 
                <select id="storage_name" name="storage_name" class="form-control">
                    <option>Wszystkie</option>
                    {% for storage in storage_list %}
                        <option>{{storage.name}}</option>
                    {% endfor %}
                </select>
                <label for="storage_name" class="form-label">Wybierz magazyn</label>
            </div>

            <!-- Kategoria -->
            <div class="block"  style="width:15%;"> 
                <select id="category_name" name="category_name" class="form-control">
                <option>Wszystkie</option>
                {% for category in category_list %}
                    <option>{{category.name}}</option>
                {% endfor %}
                </select>
                <label for="device_type_name" class="form-label">Wybierz Kategorię</label>
            </div>

            <!-- Typ urządzenia -->
            <div class="block"  style="width:20%;"> 
                <select id="device_type_name" name="device_type_name" class="form-control">
                <option>Wszystkie</option>
                {% for device_type in device_type_list %}
                    <option>{{device_type.name}}</option>
                {% endfor %}
                </select>
                <label for="device_type_name" class="form-label">Wybierz typ urządzenia</label>
            </div>

            <!-- Model urządzenia -->
            <div class="block"  style="width:30%;"> 
                <select id="name" name="name" class="form-control">
                    <option>Wszystkie</option>
                    {% for device in device_list %}
                        <option>{{device.name}}</option>
                    {% endfor %}
                    </select>
                <label for="name" class="form-label">Wybierz model</label>
            </div>  
            <button class="btn btn-light" type="submit" style="float:right;">Szukaj</button>
        </div>
    </form>
</div>


<div class="content_show2" style="width:98%; color:white; margin:5% auto;">

<h2 style="text-align:center;">Magazyn: {{magazyn_name}}</h2>
<div style="width:60%; color:white; margin:5% auto;">
    <table id="tabela" class="table table-sm table-hover table-bordered device_table">
        <thead>
            <tr style="color:yellow;">
            <th scope="col">Kategoria</th>
            <th scope="col">Typ</th>
            <th scope="col">Model</th>
            <th scope="col">Ilość szt/metrów</th>
            <th scope="col">Wykorzystano</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in device_model_list.items %}
        <tr> 
            <td>{{value.category}}</td>
            <td>{{value.type}}</td>
            <td>{{value.name}}</td>
            <td> {{value.quantity}}</td>
            <td style="color:{{value.used_resource|check_percent:value.quantity}};"> {{value.used_resource}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex flex-row">
        <div class="p-2 legend" style="background-color: #000;"></div>
        <div class="p-2 legend-text">Wykorzystano 100% zasobu</div>
    </div>
     <div class="d-flex flex-row">
        <div class="p-2 legend" style="background-color: yellow;"></div>
        <div class="p-2 legend-text">Wykorzystano 40% zasobu</div>
    </div>
     <div class="d-flex flex-row">
        <div class="p-2 legend" style="background-color: #ffb867;"></div>
        <div class="p-2 legend-text">Wykorzystano 70% zasobu</div>
    </div>
</div>

{% endblock main_content %}