{% extends "main.html" %}
{% load static %}


{% block main_content %}
<div class="content_show">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 95%; min-height: 250px;">
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom:35px; text-align: center;">Stan gwarancji:</h5>
                    <ul>
                        <li><a href="/raports/guarantee_6m">Urządzenia z gwarancją ponizej 6 miesięcy</a></li>
                        <li><a href="/raports/guarantee_3m">Urządzenia z gwarancją ponizej 3 miesięcy</a></li>
                        <li><a href="/raports/guarantee0">Urządzenia po gwarancji</a></li>
                    </ul>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 95%; min-height: 250px;">
                <div class="card-body" >
                    <h5 class="card-title" style="margin-bottom:35px; text-align: center;">Stan sprzętu:</h5>
                    <ul>
                        <li><a href="/raports/sum_device">Suma sprzętu (nie zużywalnego) - wszystkie magazyny</a></li>
                        <li><a href="/raports/sum_device_used">Suma sprzętu (zużywalnego) - stosunek ilość/wykorzystanie</a></li>
                        <li><a href="/raports/individual_raport">Własny raport</a></li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock main_content %}