{% extends "main.html" %}
{% load tags %}
{% load static %}


{% block script %}
<script>
    $(document).ready(function(){
        $('#tabela').DataTable();
    });
</script>
{% endblock script %}


{% block main_content %}

{% for key, value in device_model_list2.items %}
    {{value.quantity}}<br>
{% endfor %}

<br>
<h4 style="text-align: center; color:#fff">Do raportu nie jest doliczany magazyn "Sieć" oraz "Straty"</h4>
<div style="width:60%; color:white; margin:5% auto;">
    <table id="tabela" class="table table-sm table-hover table-bordered device_table">
        <thead>
            <tr style="color:yellow;">
            <th scope="col">Kategoria</th>
            <th scope="col">Typ</th>
            <th scope="col">Model</th>
            <th scope="col">Ilość szt/metrów</th>
            </tr>
        </thead>
        <tbody>

        {% for key, value in device_model_list.items %}
        <tr> 
            <td>{{value.category}}</td>
            <td>{{value.type}}</td>
            <td>{{value.name}}</td>
            <td> {{value.quantity}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

<div>
{% endblock main_content %}