.content_show {
    margin:5% auto;
    width:80%;
    color:#fff;
}

.content_show .card{
background-color: #2095F2;
border: 1px solid #fff;
}

.content_show .card a{
   color:white;
}

.content_show .card:hover {
    box-shadow: 0px 0px 9px grey;
}

.content_show2 {
    margin:2% auto;
    width:80%;
    color:#fff;
}
.content_show2 .form-label{
    color:#fff;
}

.content_show2 .block{
    width: 20%;
    display: inline-block;
}

.content_show2 .block select{
    height: 50%;
    font-size:13px;
}

.content_show2 .device_table td{
    font-size:13px;
}
