body {
    background-color: #2095F2;
}

.login_panel {
    width: 35%;
    margin: 10% 33%;
    color: #fff;
    font-family: 'Trocchi', serif;
    font-weight: normal;
}

.login_panel .card {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.login_panel .card-body {
    background-color: #2095F2;
}

.login_panel h2 {
    font-size: 45px;
    line-height: 48px;
}

.login_panel .form-label {
    color: white;
}

.panel_main {
    width: 100px;
    margin: 10% 0 10% 15%;
}

.category_table {
    width: 60%;
    margin: 1% auto 2% auto;
    color: #fff;
}

.category_table th {
    text-align: center;
    vertical-align: middle;
}

.category_table td {
    text-align: center;
    vertical-align: middle;
}

.category_table a {
    color: #fff;
}

.message {
    margin-top: 5%;
    text-align: center;
    color: yellow;
    font-family: 'Trocchi', serif;
    font-weight: normal;
    font-size: 18px;
}

.message2 {
    width: 60%;
    margin: 5% 35% 0 35%;
    color: yellow;
    font-family: 'Trocchi', serif;
    font-weight: normal;
    font-size: 18px;
}

.device-type-panel {
    width: 80%;
    margin: auto;
}

.device-type-panel .card {
    width: auto;
    height: auto;
}

.device-type-panel .col-4 {
    margin-bottom: 30px;
}

.table-device-type {
    margin-top: 20px;
}

.table-device-type td {
    text-align: left;
}

.device_table {
    width: 100%;
    margin: 1% auto 2% auto;
    color: #fff;
    font-weight: 600;
}

.device_table th{
    text-align: center;
    vertical-align: middle;
    font-size: 13.5px;

}

.device_table td {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;

}
#tabela th{
    vertical-align: middle;
}

.device_table a {
    color: #fff;
}

.dataTables_wrapper {
    width: 100%;
}

.paging_simple_numbers #tabela_previous {
    color: white;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3px 5px;
}

.paging_simple_numbers #tabela_next {
    color: white;
    border: solid;
    border-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px 5px;
}

.paging_simple_numbers a {
    color: white;
    border: solid;
    border-width: 1px;
    padding: 3px 5px;
}

.paging_simple_numbers .current {
    background-color: #bf2b2b;
}

.add_device_panel {
    width: 30%;
    margin: 2% 33%;
    color: #fff;
    font-family: 'Trocchi', serif;
    font-weight: normal;
}

.add_device_panel .card {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.add_device_panel .card-body {
    background-color: #2095F2;
}

.add_device_panel h2 {
    font-size: 45px;
    line-height: 48px;
}

.add_device_panel .form-label {
    color: white;
}

.add_device_panel .form-control {
    font-size: 15px;
}

.legend {
    width: 30px;
    height: 30px;
}

.legend-text {
    color: white;
    font-size: 12px;
}

.table_lenght {
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.history_table {
    width: 60%;
    margin: 1% auto 2% auto;
    color: #fff;
}

.history_table th{
    text-align: center;
    vertical-align: middle;
}

.history_table td{
    text-align: center;
    vertical-align: middle;
}

.history_table a {
    color: #fff;
}

#tabela_length{
    display: inline !important;
}

#tabela_filter{
    display: inline !important;
    float: right !important;
}

.device_model_table {
    width: 100%;
    margin: 1% auto 2% auto;
    color: #fff;
    font-weight: 600;
}

.device_model_table th{
    text-align: center;
    vertical-align: middle;
    font-size: 17px;

}

.device_model_table td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;

}

.device_model_table a {
    color: #fff;
}
