{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block main_content %}

<div>
    <div style="margin-bottom:5%">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="message2">
                        <p>Musisz najpierw usunąć powiązane z kategorią typy urządzeń</p>
                        <ul style="text-align:left;">
                            {% for device in device_type %}
                                <li>{{device}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                <div class="message">
                    <p> {{ message }}</p>
                </div>
                {% endif %}       
            {% endfor %}
        {% endif %}
    </div>
    <table class="table table-sm table-hover category_table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa kategorii</th>
            <th scope="col">Zmień nazwę</th>
            <th scope="col">Usuń</th>
            <th scope="col">Historia</th>
            </tr>
        </thead>
        <tbody>
        {% for category in category_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{category.name}}</td>
                <td><a href="/storage/category_edit/{{category.id}}" class="btn btn-sm btn-warning" role="button" aria-disabled="true">zmień</a></td>
                <td><a href="/storage/category_delete/{{category.id}}" class="btn btn-sm btn-danger" role="button" aria-disabled="true">usuń</a></td>
                <td><a href="/storage/history/category-{{category.id}}/" role="button" style="color:yellow;">Sprawdź</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="float:right; margin:0px 20%; ">
        <a href="/storage/category_add/" class="btn btn-sm btn-light" role="button" aria-disabled="true">Dodaj kategorię</a>
    </div>
<div>
{% endblock main_content %}