{% extends "main.html" %}
{% load static %}


{% block main_content %}
<div class="login_panel">
<h2 style="font-size:30px;">Zmień kategorie: "{{category_name}}"</h2><br>
<form  action="/storage/category_edit/{{category_id}}/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <input type="text" id="category" name="category_name" class="form-control" placeholder="nowa nazwa kategorii" value="{{category_name}}" required>
        <label for="category" class="form-label">Podaj nową nazwę kategorii</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Aktualizuj kategorię</button>
</form>
<div>
{% endblock main_content %}