{% extends "main.html" %}
{% load static %}


{% block main_content %}
<div class="login_panel">
<h2>Nowa kategoria</h2><br>
<form  action="/storage/category_add/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <input type="text" id="category_name" name="category_name" class="form-control" placeholder=" nazwa kategorii" required>
        <label for="category_name" class="form-label">Podaj nazwę kategorii</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Dodaj kategorię</button>
</form>
<div>
{% endblock main_content %}