{% extends "main.html" %}
{% load tags %}
{% load static %}


{% block script %}
<script>
    $(document).ready(function(){
    $('#tabela').DataTable();
    });
</script>
{% endblock script %}


{% block main_content %}

<div style="width:50%; color:white; margin:5% auto;">
    <table id="tabela" class="table table-sm table-hover table-bordered device_model_table">
        <thead>
            <tr style="color:yellow;">
            <th scope="col">Kategoria</th>
            <th scope="col">Typ</th>
            <th scope="col">Model</th>
        </thead>
        <tbody>
            {% for device in device_model_list %}
            <tr>
                <td>{{device.category_id}}</td>
                <td>{{device.device_type_id}}</td>
                <td>{{device.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/storage/device_model_add" class="btn btn-sm btn-light" role="button" aria-disabled="true">Dodaj nowy model</a>
</div>

<div>
{% endblock main_content %}