{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block main_content %}

<div>
    <div style="margin-bottom:5%">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="message2">
                        <p>Musisz najpierw usunąć powiązane z danym typem urządzenia:</p>
                        <ul style="text-align:left;">
                            {% for device in device_type %}
                                <li>{{device}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                <div class="message">
                    <p> {{ message }}</p>
                </div>
                {% endif %}       
            {% endfor %}
        {% endif %}
    </div>

    <div class="device-type-panel">
    {% for category in category_name_list %}
        {% if forloop.counter0|modulo:3 == 0 %}<div class="row">{% endif %}
        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center;">
                    <strong>{{category}}</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <table class="table table-sm table-device-type">
                        <thead>
                            <tr>
                            <th scope="col">Typ</th>
                            <th scope="col">Zmień</th>
                            <th scope="col">Usuń</th>
                            <th scope="col">Historia</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for device in device_type_list %}
                            {% if device.category_id|trim == category|trim %}
                                <tr>
                                    <td>{{device.name}}</td>
                                    <td><a href="/storage/device_type_edit/{{device.id}}" role="button" aria-disabled="true">zmień</a></td>
                                    <td><a href="/storage/device_type_delete/{{device.id}}"  role="button" aria-disabled="true">usuń</a></td>
                                    <td><a href="/storage/history/device_type-{{device.id}}/" role="button">Sprawdź</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if forloop.counter0|modulo:3 == 2 or forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>
<div>
{% endblock main_content %}