{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
    $("#category_name").change(function(){
        $("#device_type_name").empty();
        $("#name").empty();
        var category_name = $("#category_name").val();
        $.ajax({
                url: "/storage/device_add",
                type: "POST",
                data: {category_name:category_name},
                headers: {'X-CSRFTOKEN': "{{ csrf_token }}",},
                success: function(json) {
                    var device_type_list=json["device_type_list"]
                    for(key in device_type_list){
                        $('<option>').val(key).text(key).appendTo('#device_type_name');}

                    var device_model_list=json["device_model_list"]
                    for(key in device_model_list){
                        $('<option>').val(key).text(key).appendTo('#name');}
                }
            })
    });

     $("#device_type_name").change(function(){
        $("#name").empty();
        var device_type_name = $("#device_type_name").val();
        var category_name = $("#category_name").val();
        $.ajax({
                url: "/storage/device_add",
                type: "POST",
                data: {device_type_name:device_type_name, category_name:category_name},
                headers: {'X-CSRFTOKEN': "{{ csrf_token }}",},
                success: function(response) {
                    for (item in response) {
                        $('<option>').val(response[item]).text(response[item]).appendTo('#name');} 
                }
            })
    });
});
</script>
{% endblock script %}

{% block main_content %}

 <p id="test"></p>
<div class="add_device_panel">
<h3>Nowe urządzenie</h3><br>
<form  action="/storage/device_add" method="POST" style="color: #3743e6; margin-top:0px;">
    {% csrf_token %}
    <div class="md-form text-center"> 
        <select id="category_name" name="category_name" class="form-control">
        {% for category in category_list %}
            <option>{{category}}</option>
        {% endfor %}
        </select>
        <label for="category_name" class="form-label">Wybierz Katerorię</label>
    </div>

    <div class="md-form text-center"> 
        <select id="device_type_name" name="device_type_name" class="form-control">
        {% for device_type in device_type_list %}
            <option>{{device_type.name}}</option>
        {% endfor %}
        </select>
        <label for="device_type_name" class="form-label">Wybierz typ urządzenia</label>
    </div>

    <div class="md-form text-center"> 
        <select id="storage_name" name="storage_name" class="form-control">
        {% for storage in storage_list %}
            <option>{{storage.name}}</option>
        {% endfor %}
        </select>
        <label for="storage_name" class="form-label">Wybierz magazyn</label>
    </div>
    <div class="md-form text-center"> 
    {% comment %} <input type="date" id="date" name="date" class="form-control" value="{% now 'Y-m-d' %}" disabled>
    <label for="date" class="form-label">Data wprowadzenia</label> {% endcomment %}

    <input type="text" id="provider" name="provider" class="form-control"  placeholder="Vectra" required>
    <label for="provider" class="form-label">Dostawca</label>

    <input type="text" id="facture" name="facture" class="form-control" value="Faktrura nr: " required>
    <label for="facture" class="form-label">Nr faktury</label>

    <select id="name" name="name" class="form-control">
        {% for device in device_list %}
            <option>{{device.name}}</option>
        {% endfor %}
        </select>
    <label for="name" class="form-label">Wybierz model</label>

    <input type="text" id="serial_number" name="serial_number" class="form-control" placeholder="00:1a:79:44:a8:46" required>
    <label for="serial_number" class="form-label">Nr seryjny/MAC</label>

    <input type="number" id="quantity" name="quantity" class="form-control" value="1" maxlength="10" required>
    <label for="quantity" class="form-label">ilość szt/metrów</label>

    <input type="number" id="guarantee" name="guarantee" class="form-control"  placeholder="24" value="24" maxlength="4" required>
    <label for="guarantee" class="form-label">Okres gwarancji (w miesiącach) - max : 9999</label>

    {% comment %} <input type="number" id="used_resource" name="used_resource" class="form-control"  value="0" disabled>
    <label for="used_resource" class="form-label">Wykorzystano</label> {% endcomment %}

    <textarea class="form-control" id="note" name="note" rows="2"></textarea>
    <label for="note"  class="form-label">Dodatkowa notatka</label>

    </div>
    <div class="md-form text-center"> 
        <select id="to_used" name="to_used" class="form-control">
            <option seleted>Nie</option>
            <option seleted>Tak</option>
        </select>
        <label for="to_used" class="form-label">Czy mozna go zużyć do zera?</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Dodaj urządzenie</button>

</form>
<div>

{% endblock main_content %}