{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block script %}
<script>
$(document).ready(function(){
     $("#category_name").change(function(){
        $("#device_type_name").empty();
        var category_name = $("#category_name").val();
        $.ajax({
                url: "/storage/device_model_add",
                type: "POST",
                data: {category_name:category_name},
                headers: {'X-CSRFTOKEN': "{{ csrf_token }}",},
                success: function(response) {
                    for (item in response) {
                        $('<option>').val(response[item]).text(response[item]).appendTo('#device_type_name');} 
                }
            })
    });
});
</script>
{% endblock script %}

{% block main_content %}

 <p id="test"></p>
<div class="add_device_panel">
<h3>Nowe urządzenie</h3><br>
<form  action="/storage/device_model_add" method="POST" style="color: #3743e6; margin-top:0px;">
    {% csrf_token %}
    <div class="md-form text-center"> 
        <select id="category_name" name="category_name" class="form-control">
        {% for category in category_list %}
            <option>{{category}}</option>
        {% endfor %}
        </select>
        <label for="category_name" class="form-label">Wybierz Katerorię</label>

        <select id="device_type_name" name="device_type_name" class="form-control">
        {% for device_type in device_type_list %}
            <option>{{device_type.name}}</option>
        {% endfor %}
        </select>
        <label for="device_type_name" class="form-label">Wybierz typ urządzenia</label>

        <input type="text" id="name" name="name" class="form-control" required>
        <label for="name" class="form-label">Podaj nazwę modelu/typ przewodu</label>
    
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Dodaj urządzenie</button>

</form>
<div>

{% endblock main_content %}