{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block main_content %}

 
<div class="add_device_panel">
<h3>Edytuj urządzenie</h3><br>
<form  action="/storage/device_edit/{{device_to_edit.id}}/" method="POST" style="color: #3743e6; margin-top:0px;">
    {% csrf_token %}
    <div class="md-form text-center"> 
        <select id="storage_name" name="storage_name" class="form-control">
        {% for storage in storage_list %}
            <option {% if storage == device_to_edit.storage_id %}selected{% endif %}>{{storage.name}}</option>
        {% endfor %}
        </select>
        <label for="storage_name" class="form-label">Wybierz magazyn</label>
    </div>
    <div class="md-form text-center"> 

    {% if device_to_edit.to_used == "Tak" %}
    <input type="number" id="used_resource" name="used_resource" class="form-control"  value="{{device_to_edit.used_resource}}">
    <label for="used_resource" class="form-label">Wykorzystano</label>
    {% endif %}

    <textarea class="form-control" id="note" name="note" rows="2">{{device_to_edit.note}}</textarea>
    <label for="note"  class="form-label">Dodatkowa notatka</label>

    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Zapisz zmiany</button>

</form>
<div>

{% endblock main_content %}