{% extends "main.html" %}
{% load tags %}
{% load static %}


{% block main_content %}
<div class="login_panel">
<h2 style="font-size:30px;">Zmień Typ urządzenia: "{{device_type.name}}"</h2><br>
<form  action="/storage/device_type_edit/{{device_type.id}}/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <select class="form-control" id="category" name="category_name">
            {% for category in category_list %}
                <option {% if category.name|trim == device_type.category_id|trim %}selected{% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>
        <label for="category" class="form-label">Kategoria</label>

        <input type="text" id="type_name" name="device_type_name" class="form-control" placeholder=" nazwa typu urządzenia" value="{{device_type.name}}" required>
        <label for="type_name" class="form-label">Podaj nazwę typu urządzenia</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Aktualizuj typ urządzenia</button>
</form>
<div>
{% endblock main_content %}