{% extends "main.html" %}
{% load tags %}
{% load static %}

{% block main_content %}

<div>
    <table class="table table-sm table-hover history_table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Użytkownik</th>
            <th scope="col">Wykonane zmiany</th>
            </tr>
        </thead>
        <tbody>
        {% for history in history_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                  {% for item in history%}
                    {% if forloop.counter != 3 %}
                        <td>{{item}}</td>
                    {% else %}
                        <td>{% for item2 in item  %}
                                {{ item2 }}<br>
                            {% endfor %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
{% endblock main_content %}