{% extends "main.html" %}
{% load static %}
{% block main_content %}

<div class="container" style="width:800px; height: 600px;  margin-top:5%;">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center; font-size:18px;">
                    <strong>Kategorie</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                <a href="/storage/category"><img src="{% static 'img/category.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center; font-size:18px;">
                    <strong> Typy Urządzeń</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <a href="/storage/device_type"><img src="{% static 'img/device_type.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center; font-size:18px;">
                    <strong>Modele</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <a href="/storage/device_model"><img src="{% static 'img/model.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>

        <div class="w-100" style="margin:40px 0px;"></div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header"  style="text-align: center; font-size:18px;">
                    <strong>Magazyny</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <a href="/storage/storage"> <img src="{% static 'img/storage.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center;  font-size:18px;">
                    <strong>Dodane Urządzenia</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <a href="/storage/device"> <img src="{% static 'img/add_device.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card">
                <h5 class="card-header" style="text-align: center; font-size:18px;">
                    <strong>Raporty</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <a href="/raports/show"> <img src="{% static 'img/search.png' %}" alt="" class="panel_main"></a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock main_content %}
