{% extends "main.html" %}
{% load static %}


{% block main_content %}
<div class="login_panel">
<h2>Nowy Magazyn</h2><br>
<form  action="/storage/storage_add/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <input type="text" id="storage_name" name="storage_name" class="form-control" placeholder=" nazwa magazynu" required>
        <label for="storage_name" class="form-label">Podaj nazwę magazynu</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Dodaj Magazyn</button>
</form>
<div>
{% endblock main_content %}