{% extends "main.html" %}
{% load static %}


{% block main_content %}
<div class="login_panel">
<h2 style="font-size:30px;">Zmień Magazyn: "{{storage_name}}"</h2><br>
<form  action="/storage/storage_edit/{{storage_id}}/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <input type="text" id="storage" name="storage_name" class="form-control" placeholder="nowa nazwa magazynu" value="{{storage_name}}" required>
        <label for="storage" class="form-label">Podaj nową nazwę kategorii</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Aktualizuj magazyn</button>
</form>
<div>
{% endblock main_content %}