{% extends "main.html" %}
{% block main_content %}
<div class="login_panel">
<h3>Nieprawidlowy login lub hasło</h3>
    <a href="/accounts/login/" style="color:yellow;">Spróbuj ponownie</a>
</div>
{% endblock main_content %}
