{% extends "main.html" %}
{% block main_content %}
<div class="login_panel">
<h2>Magazyn sprzętu</h2><br>

<form  action="/accounts/auth/" method="POST" style="color: #3743e6; margin-top:45px;">
    {% csrf_token %}
    <div class="md-form text-center">
        <input type="text" id="username" name="username" class="form-control" placeholder="Login" required>
        <label for="username" class="form-label">Login</label>
    </div>
    <div class="md-form text-center">
        <input type="password" id="password" name="password" class="form-control" required>
        <label for="password" class="form-label">Hasło</label>
    </div>
    <button class="btn btn-light" type="submit" style="float:right;">Zaloguj się</button>
</form>

{% endblock main_content %}
