{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Tytuł</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/storage_style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/raports_style.css' %}"> 
    {% block script %} 
    {% endblock script %}
</head>

<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:white;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Menu</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/storage/storage">Magazyzny</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/storage/category">Kategorie</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/storage/device_type" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Typy urządzeń</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #343A40; color:white;">
                        <a class="dropdown-item" href="/storage/device_type" style="background-color: #343A40; color:white;">Podgląd</a>
                        <a class="dropdown-item" href="/storage/device_type_add" style="background-color: #343A40; color:white;">Dodaj nowy</a>
                    </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/storage/device_model">Modele</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/storage/device" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Urządzenia/Faktury</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #343A40; color:white;">
                        <a class="dropdown-item" href="/storage/device" style="background-color: #343A40; color:white;">Podgląd</a>
                        <a class="dropdown-item" href="/storage/device_add" style="background-color: #343A40; color:white;">Dodaj nowe</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/raports/show">Raporty</a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <span style="margin-right:10px;">{{request.user.first_name}} {{request.user.last_name}} </span>
                <a href="/accounts/logout/" class="mr-sm-2" style="color:white;">Wyloguj się</a>
            </div>
        </div>
    </nav>
    {% endif %} 
    
    {% block main_content %} 
    {% endblock %}

</body>

</html>